@use "sass:color";
// Version
$version: "0.1.4";


// Core colors
$primary-color: #5755d9 !default;
$primary-color-dark: color.scale($primary-color, $lightness: -3%) !default;
$primary-color-light: color.scale($primary-color, $lightness: 3%) !default;
$secondary-color: color.scale($primary-color, $lightness: 37.5%) !default;
$secondary-color-dark: color.scale($secondary-color, $lightness: -3%) !default;
$secondary-color-light: color.scale($secondary-color, $lightness: 3%) !default;

// Gray colors
$dark-color: #303742 !default;
$light-color: #fff !default;
$gray-color: color.scale($dark-color, $lightness: 55%) !default;
$gray-color-dark: color.scale($gray-color, $lightness: -30%) !default;
$gray-color-light: color.scale($gray-color, $lightness: 20%) !default;

$border-color: color.scale($dark-color, $lightness: 65%) !default;
$border-color-dark: color.scale($border-color, $lightness: -10%) !default;
$bg-color: color.scale($dark-color, $lightness: 75%) !default;
$bg-color-dark: color.scale($bg-color, $lightness: -3%) !default;
$bg-color-light: $light-color !default;

// Other colors
$code-color: #d73e48 !default;
$highlight-color: #ffe9b3 !default;
$body-bg: $bg-color-light !default;
$body-font-color: color.scale($dark-color, $lightness: 5%) !default;
$link-color: $primary-color !default;
$link-color-dark: color.scale($link-color, $lightness: -10%) !default;
$link-color-light: color.scale($link-color, $lightness: 10%) !default;
